# Configurações do Banco de Dados
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=sua_senha_aqui
DB_NAME=db_gem

# Configurações do Flask
SECRET_KEY=uma_chave_secreta_muito_segura
FLASK_DEBUG=True
